[submodule "ЗБ-ПИ21-2/Avseitseva-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/Avseitseva-fa-wd-practice-javascript
	url = https://github.com/avseitsevad/Avseitseva-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/miroshnikov-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/miroshnikov-fa-wd-practice-javascript
	url = https://github.com/mirrosha26/miroshnikov-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Yakushchev-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/Yakushchev-fa-wd-practice-javascript
	url = https://github.com/GeoYak/Yakushchev-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Chernysheva-web-development"]
	path = ЗБ-ПИ21-2/Chernysheva-web-development
	url = https://github.com/Marina4A/Chernysheva-web-development
[submodule "ЗБ-ПИ21-1/smirnov-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-1/smirnov-fa-wd-practice-javascript
	url = https://github.com/lincot/smirnov-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-1/eremeev-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-1/eremeev-fa-wd-practice-javascript
	url = https://github.com/waere00/eremeev-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Koraeva-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/Koraeva-fa-wd-practice-javascript
	url = https://github.com/okoraeva/Koraeva-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-1/Mikheeva-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-1/Mikheeva-fa-wd-practice-javascript
	url = https://github.com/Arishkanyam/Mikheeva-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/IskandarAbdusalimzoda-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/IskandarAbdusalimzoda-wd-practice-javascript
	url = https://github.com/aryanshoh/IskandarAbdusalimzoda-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Dzhilavyan"]
	path = ЗБ-ПИ21-2/Dzhilavyan
	url = https://github.com/Arman06/Dzhilavyan
[submodule "ЗБ-ПИ21-1/sadovskaia-web-development"]
	path = ЗБ-ПИ21-1/sadovskaia-web-development
	url = https://github.com/sadrium/sadovskaia-web-development/
[submodule "ЗБ-ПИ21-1/Grebnewa"]
	path = ЗБ-ПИ21-1/Grebnewa
	url = https://github.com/Anastas20/Grebnewa
[submodule "ЗБ-ПИ21-2/ZB-PI21-2-Kulakov-Web"]
	path = ЗБ-ПИ21-2/ZB-PI21-2-Kulakov-Web
	url = https://github.com/kulakovsa215705/ZB-PI21-2-Kulakov-Web
[submodule "ЗБ-ПИ21-1/vassilyev-fa-wd"]
	path = ЗБ-ПИ21-1/vassilyev-fa-wd
	url = https://github.com/tarapiygin/vassilyev-fa-wd
[submodule "ЗБ-ПИ21-2/Makeeva"]
	path = ЗБ-ПИ21-2/Makeeva
	url = https://github.com/Margarita215729/Makeeva
