[submodule "ЗБ-ПИ21-2/Avseitseva-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/Avseitseva-fa-wd-practice-javascript
	url = https://github.com/avseitsevad/Avseitseva-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/miroshnikov-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/miroshnikov-fa-wd-practice-javascript
	url = https://github.com/mirrosha26/miroshnikov-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Yakushchev-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/Yakushchev-fa-wd-practice-javascript
	url = https://github.com/GeoYak/Yakushchev-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Chernysheva-web-development"]
	path = ЗБ-ПИ21-2/Chernysheva-web-development
	url = https://github.com/Marina4A/Chernysheva-web-development
[submodule "ЗБ-ПИ21-1/smirnov-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-1/smirnov-fa-wd-practice-javascript
	url = https://github.com/lincot/smirnov-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-1/eremeev-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-1/eremeev-fa-wd-practice-javascript
	url = https://github.com/waere00/eremeev-fa-wd-practice-javascript
[submodule "ЗБ-ПИ21-2/Koraeva-fa-wd-practice-javascript"]
	path = ЗБ-ПИ21-2/Koraeva-fa-wd-practice-javascript
	url = https://github.com/okoraeva/Koraeva-fa-wd-practice-javascript
